.container-flex {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
.container img{  
    border-radius: 50px;
    display: flex;
    margin-left: 25px;
    margin-top: 25px;
    color: white;
}
li{
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
}