.rodapePrincipal-patrocinadores{
    background-color: #FF5A01;
    height: 70px;
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
}
p {
    color: #ffffff;
    font-size: 1.4em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 525px;
}

